[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
python-telegram-bot = "*"
seaborn = "*"
pandas = "*"
numpy = "*"
scipy = "*"
pywaves = "*"
requests = "*"


[requires]
python_version = "3.6"
